* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #fff;
  background-color: #bdd4e7;
  background-image: linear-gradient(0deg, #bdd4e7 0%, #fafafa 33%);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.SmallContainer {
  max-width: 500px;
  margin: 0 auto;
}

button,
.Btn {
  cursor: pointer;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.Btn--Primary {
  background-color: #3298dc;
  border-color: transparent;
  color: #fff;
}
